@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.form input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  padding-left: 16px;
  box-sizing: border-box;
}

.form button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}
.gallery {
  margin-top: 32px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gallery-item {
  width: 360px;
  border: 1px solid #3d3d3d;
  margin: 8px;
}

.card-image {
  width: 100%;
  height: 150px;
  display: block;
  object-fit: cover;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  padding: 8px 10px;
}

.stat {
  text-align: center;
}

.stat-label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
}

.stat-value {
  display: block;
  font-size: 12px;
  font-weight: 400;
}
.loader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #1b18c7 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.load-button {
  margin: 20px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 150px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
}
